<head>
  <!-- Required meta tags-->
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="apple-touch-icon" sizes="128x128" href="/img/icon-128-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="128x128" href="/img/icon-128-precomposed.png">
  <link rel="apple-touch-icon" href="/img/icon-60-precomposed.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/icon-76-precomposed.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/img/icon-120-precomposed.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/img/icon-152-precomposed.png">
  <title>Транспорт Рязани</title>
  <meta name="mobile-web-app-capable" content="yes">
  <!-- todo SEO -->
  <!-- todo Социальные кнопки -->
  <link rel="icon" sizes="192x192" href="/img/icon-192-precomposed.png">
  <link rel="icon" sizes="128x128" href="/img/icon-128-precomposed.png">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
  <link rel="icon" type="image/png" href="/favicon.png"/>
  <link type="text/plain" rel="author" href="/humans.txt" />
</head>