.transport-content i.icon.icon-info {
  width: 40px;
  height: 40px;
  background-image: url("/img/place.png")
}

.transport-content .list-block .item-media+.item-inner {
  margin-left: 20px;
}

.transport-content .list-block .item-inner {
  height: 55px;
}

div[data-page="transport"] .content-block, div[data-page="transport"] .list-block {
  margin-top: 15px;
  margin-bottom: 15px;
}