<template name="transportPage">
  <div data-page="transport" class="page cached">
    <div class="page">
      <div class="page-content">
        <div class="content-block">
          Машина по маршруту {{transportName}}
          <!-- TODO С вами в транспорте: Ололо-->
        </div>
        <div class="transport-content">
          {{#if loaded}}
            {{#if transportData.count}}
          <div class="list-block">
            <ul>
              {{#each transportData}}
                <li>{{>transportPageTransport}}</li>
              {{/each}}
            </ul>
          </div>
            {{else}}
              <div class="content-block">
                <p>Похоже, вы уже приехали :) Или транспорт свернул в депо</p>
              </div>
            {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>