<template name="transportPageNavbar">
  <div class="navbar-inner cached" data-page="transport">
    <div class="left sliding"><a href="#" class="back link"><i class="icon icon-back-blue"></i><span>Назад</span></a>
    </div>
    <div class="center sliding"></div>
    <!--<div class="right contact-save-link"><a href="#" class="link">&lt;!&ndash; TODO Избранное &ndash;&gt;Избранное</a></div>-->
  </div>
</template>