<template name="transportPageTransport">
  <li>
    <div class="transport item-content" id="{{id}}">
      <div class="item-media"><i class="icon icon-info"></i></div>
      <div class="item-inner">
        <div class="item-title">{{name}}</div>
        <div class="item-after wait-time" seconds="{{secs}}"></div>
      </div>
    </div>
  </li>
</template>