<template name="app">
  <!-- Status bar overlay for full screen mode (PhoneGap) -->
  <div class="statusbar-overlay"></div>
  <!-- Panels overlay-->
  <div class="panel-overlay"></div>
  <!-- Left panel with reveal effect-->
  <div class="panel panel-left panel-reveal">
    <div class="content-block">
      <p>Left panel content goes here</p>
    </div>
  </div>
  <!-- Views -->
  <div class="views">
    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main">

      <!-- Navbar -->
      <div class="navbar">
        {{> stationPageNavbar}}
        {{> stationsListPageNavbar}}
        {{> transportPageNavbar}}
      </div>
      <!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
      <div class="pages navbar-through">
          {{> initPage}}
          {{> stationsListPage}}
          {{> stationPage}}
          {{> transportPage}}
      </div>
    </div>
  </div>
</template>