.station-content i.icon.icon-А {
  width: 40px;
  height: 40px;
  background-image: url("/img/bus.png")
}

.station-content i.icon.icon-Т {
  width: 40px;
  height: 40px;
  background-image: url("/img/trolleybus.png")
}

.station-content i.icon.icon-М {
  width: 40px;
  height: 40px;
  background-image: url("/img/taxi.png")
}

.station-content .list-block .item-media+.item-inner {
  margin-left: 20px;
}

.station-content .list-block .item-inner {
  height: 55px;
}

div[data-page="station"] .content-block, div[data-page="station"] .list-block {
  margin-top: 15px;
  margin-bottom: 15px;
}