<template name="stationPage">
  <div data-page="station" class="page cached">
    <div class="page">
      <div class="page-content">
        <div class="content-block">
          Остановка {{station "name"}} по направлению {{station "subname"}}
          <!-- TODO С вами на остановке: Ололо-->
        </div>
        <div class="station-content">
          {{#if loaded}}
            {{#if transportData.count}}
          <div class="list-block">
            <ul>
              {{#each transportData}}
                <li>{{>stationPageTransport}}</li>
              {{/each}}
            </ul>
          </div>
            {{else}}
              <div class="content-block">
                <p>В текущий момент транспорта нет <!-- :( Попробуйте такси!--> </p>
              </div>
              <!--todo Реклама-->
              <!--<div class="content-block-title">Такси</div>-->
              <!--<div class="list-block media-list">-->
                <!--<ul>-->
                  <!--<li><a href="#" class="item-link item-content">-->
                    <!--<div class="item-media"><img src="http://hhhhold.com/160/d/jpg?1" width="80"></div>-->
                    <!--<div class="item-inner">-->
                      <!--<div class="item-title-row">-->
                        <!--<div class="item-title">Yellow Submarine</div>-->
                        <!--<div class="item-after">$15</div>-->
                      <!--</div>-->
                      <!--<div class="item-subtitle">Beatles</div>-->
                      <!--<div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus.</div>-->
                    <!--</div></a></li>-->
                  <!--<li><a href="#" class="item-link item-content">-->
                    <!--<div class="item-media"><img src="http://hhhhold.com/160/d/jpg?2" width="80"></div>-->
                    <!--<div class="item-inner">-->
                      <!--<div class="item-title-row">-->
                        <!--<div class="item-title">Don't Stop Me Now</div>-->
                        <!--<div class="item-after">$22</div>-->
                      <!--</div>-->
                      <!--<div class="item-subtitle">Queen</div>-->
                      <!--<div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus.</div>-->
                    <!--</div></a></li>-->
                  <!--<li><a href="#" class="item-link item-content">-->
                    <!--<div class="item-media"><img src="http://hhhhold.com/160/d/jpg?3" width="80"></div>-->
                    <!--<div class="item-inner">-->
                      <!--<div class="item-title-row">-->
                        <!--<div class="item-title">Billie Jean</div>-->
                        <!--<div class="item-after">$16</div>-->
                      <!--</div>-->
                      <!--<div class="item-subtitle">Michael Jackson</div>-->
                      <!--<div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus.</div>-->
                    <!--</div></a></li>-->
                <!--</ul>-->
              <!--</div>-->
            {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>