<template name="stationPageTransport">
  <li>
    <div class="transport">
      <a href='#' class="item-content item-link" id="{{id}}">
      <div class="item-media"><i class="icon icon-{{type}}"></i></div>
      <div class="item-inner">
        <div class="item-title">{{name}}</div>
        <div class="item-after wait-time" seconds="{{secs}}"></div>
      </div>
      </a>
    </div>
  </li>
</template>