<template name="stationsListPage">
  <!-- Page, "data-page" contains page name -->
  <div data-page="stations-list" class="page cached">
    <form data-search-list=".virtual-list" class="searchbar">
      <div class="searchbar-input">
        <input type="search" placeholder="Поиск по названию"/><a href="#" class="searchbar-clear"></a>
      </div>
      <a href="#" class="searchbar-cancel">Отмена</a>
    </form>
    <div class="searchbar-overlay"></div>
    <div class="page-content">
      <!--<div class="content-block">-->
        <!--<p>Список остановок</p>-->
      <!--</div>-->
      <div class="content-block-title">Список остановок</div>
      <div class="list-block virtual-list searchbar-found media-list"></div>
      <div class="list-block searchbar-not-found">
        <ul>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title">Ничего не найдено</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>